<script src="development-environment.js"></script>
<link rel="stylesheet" href="development-environment.css" />

<fragment type="Development-Environment">
    
    <div class="environment">
        <div class="col-md-2">
            <panel id="file-browser" type="File-Browser"></panel>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#editor">Code</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#scene">Scene</a>
                </li>
            </ul>
            <div class="tab-content">
                <panel id="editor" class="active tab-pane fade in active" type="Editor"></panel>
                <div id="scene" class="tab-pane fade active">
                    <p>hi</p>
                </div>
            </div>
            
        </div>
    </div>
    
</fragment>